.blog-list {
  @include content-font;
  display: block;
  margin: 0;
  padding: 0;

  li {
    border-radius: .25rem;
    box-shadow: 0 0 .3rem $transparent-black;
    cursor: pointer;
    display: block;
    margin: 2rem;
    padding: 1rem;
    transition: box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 .3rem $transparent-blue;
    }
  }

  .blog-meta {
    display: flex;
  }

  h2 {
    @include header-font;
    margin: .2rem 0 0 .75rem;
    text-transform: capitalize;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: .25rem 0 0 .75rem;

    span {
      color: $grey;
    }
  }

  img {
    border-radius: 1.75rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  p {
    color: $dark-grey;
    line-height: 1.3;
    margin: 1rem 0 0;
  }
}
