.blog-post {
  border-radius: .25rem;
  box-shadow: 0 0 .3rem $transparent-black;
  margin: 3rem auto;
  max-width: 60rem;
  padding: 2rem;
  transition: box-shadow .3s ease-in-out;

  @include mobile {
    margin: 2rem 1.5rem;
    padding: 1.5rem;
  }

  .blog-meta {
    display: flex;
  }

  .blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    border-radius: 3rem;
    height: 6rem;
    width: 6rem;

    @include mobile {
      border-radius: 1.5rem;
      height: 3rem;
      width: 3rem;
    }
  }

  h2 {
    @include header-font;
    font-size: 2rem;
    margin: 0 0 0 1rem;

    @include mobile {
      font-size: 1.3rem;
      margin-bottom: .25rem;
    }
  }

  h3 {
    @include content-font;
    color: #666;
    margin: 0 0 0 1rem;

    span {
      color: $grey;
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  p {
    color: $dark-grey;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 1.5rem 0 0;

    @include mobile {
      font-size: 1.2rem;
    }

    &:first-of-type:first-letter {
      float: left;
      font-size: 3.3rem;
      line-height: 1;
      padding-right: .2rem;
    }
  }
}
