$dark-grey: #333;
$grey: #aaa;
$transparent-blue: rgba(0,220,255,.6);
$transparent-black: rgba(0,0,0,.3);

@mixin header-font {
  font-family: 'Didot 16 A', 'Didot 16 B';
  font-weight: 300;
}

@mixin content-font {
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
}
